<!DOCTYPE html>
<html>
<head>
	<title>EJS ListIt </title>
</head>
<body>
	<div align="center">
		<h1> ListIt </h1>

		<% list.forEach(function(item){ %>
			<li><%= item %></li>
		<% }); %>

			<form action="/additem" method="POST">
				<input type="text" name="newitem" placeholder="type to add">
				<button> Add it !</button>
			</form>
	</div>
</body>
</html>