.logo
{
    display:block;
    margin:auto;
    width:50px;
    height:50px;
}
body
{
   height:100vh;
   background-image:linear-gradient(white,red);
}

.container
{
    max-width:955px;
    border:2px solid green;
    margin:auto;
    height:60vh;
    padding:33px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.message
{
  
   width:24%;
   margin:17px 12px;
   border-radius: 12px;
}
.left
{
    float: left;
    clear: both;
    background-color: greenyellow;
    border:2px solid green;

}
.right
{
    float: right;
    clear: both;
    background-color: plum;
    border:2px solid purple

}
#send-container
{
    text-align: center;
    max-width: 985px;
    width:100%;
    display: block;
    margin: auto;
}
#messageinp
{
    width:92%;
    border:2px solid rgb(55, 0, 255);
    border-radius: 6px;
    height:44px;
    margin-left: auto;
}
#btn
{
    cursor: pointer;
    border:2px solid rgb(55, 0, 255);
    border-radius: 6px;
    height:44px;
    padding-right: 20px;
    
}
