*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: white;
    text-align: center;
}
button{
    color: white;
    margin: 5rem auto;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6789ca), color-stop(1, #2b60a0) );
    background:-moz-linear-gradient( center top, #6184c5 5%, #235ba0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e');
	background-color:#6687c5;
	-webkit-border-top-left-radius:40px;
	-moz-border-radius-topleft:40px;
	border-top-left-radius:40px;
	-webkit-border-top-right-radius:40px;
	-moz-border-radius-topright:40px;
	border-top-right-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-radius-bottomright:40px;
	border-bottom-right-radius:40px;
	-webkit-border-bottom-left-radius:40px;
	-moz-border-radius-bottomleft:40px;
	border-bottom-left-radius:40px;

	border:1px solid #1e3b92;
	
	text-align:center;
	text-shadow:0px 1px 5px #0f1831;
}
button:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2663ad), color-stop(1, #547bc4) );
	background:-moz-linear-gradient( center top, #1c59a3 5%, #537ac2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2');
	background-color:#285fa3;
}
button:active{
    position:relative;
    top:1px;
}
button::selection{
    background-color: none;
    color: black;
}
h1{
    color: rgb(0, 174, 255);
    font-family: sans-serif;
}
h1::selection{
    background: yellow;
    color: black;
}
h3{
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(156, 156, 156);
}
h3::selection{
    background: yellow;
    color: black;
}
.container{
    margin: 10rem auto;
}
